# Climate Change and Deaths from Cancer Analysis

In this analysis, we would like to see the correlation between climate change and deaths from Cancer, specifically at the top 5 countries with the highest population in the world.
1. China
2. India
3. United States
4. Indonesia
5. Brazil

In [1]:
# Dependencies and Set Up
import pandas as pd
import numpy as np
import requests
import json

In [2]:
# Read csv for temperature by countries from 1991 to 2016
temp_china = pd.read_csv("./resources/temperature_1991_2016_China.csv")
temp_india = pd.read_csv("./resources/temperature_1991_2016_India.csv")
temp_usa = pd.read_csv("./resources/temperature_1991_2016_USA.csv")
temp_indonesia = pd.read_csv("./resources/temperature_1991_2016_Indonesia.csv")
temp_brazil = pd.read_csv("./resources/temperature_1991_2016_Brazil.csv")

# Check and print the temperature data (China)
temp_china.head()

   Temperature - (Celsius)   Year    Statistics  Country  ISO3
0                 -8.05810   1991   Jan Average    China   CHN
1                 -4.63730   1991   Feb Average    China   CHN
2                  0.59422   1991   Mar Average    China   CHN
3                  7.42692   1991   Apr Average    China   CHN
4                 13.00760   1991   May Average    China   CHN

In [3]:
# Check and print the temperature data (India)
temp_india.head()

   Temperature - (Celsius)   Year    Statistics  Country  ISO3
0                  16.6354   1991   Jan Average    India   IND
1                  19.9880   1991   Feb Average    India   IND
2                  24.1397   1991   Mar Average    India   IND
3                  27.3468   1991   Apr Average    India   IND
4                  30.1960   1991   May Average    India   IND

In [4]:
# Check and print the temperature data (USA)
temp_usa.head()

   Temperature - (Celsius)   Year    Statistics         Country  ISO3
0                 -5.99380   1991   Jan Average   United States   USA
1                 -1.45230   1991   Feb Average   United States   USA
2                  0.93311   1991   Mar Average   United States   USA
3                  7.22711   1991   Apr Average   United States   USA
4                 13.45700   1991   May Average   United States   USA

In [5]:
# Check and print the temperature data (Indonesia)
temp_indonesia.head()

   Temperature - (Celsius)   Year    Statistics     Country  ISO3
0                  25.9220   1991   Jan Average   Indonesia   IDN
1                  25.8220   1991   Feb Average   Indonesia   IDN
2                  26.2723   1991   Mar Average   Indonesia   IDN
3                  26.4782   1991   Apr Average   Indonesia   IDN
4                  26.2828   1991   May Average   Indonesia   IDN

In [8]:
# Check and print the temperature data (Brazil)
temp_brazil.head()

   Temperature - (Celsius)   Year    Statistics  Country  ISO3
0                  25.6309   1991   Jan Average   Brazil   BRA
1                  25.9331   1991   Feb Average   Brazil   BRA
2                  25.6195   1991   Mar Average   Brazil   BRA
3                  25.3122   1991   Apr Average   Brazil   BRA
4                  24.6685   1991   May Average   Brazil   BRA